.order {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid rgba(200, 200, 200, 0.5);
}

.order img {
  width: 70px;
}

.order span {
  font-size: 9px;
}

.order p {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.order b {
  margin-bottom: 5px;
  margin-left: 10px;
}

.shop-cart {
  display: grid;
  grid-template-rows: repeat(1, minmax(100px, auto));
  gap: 10px;
  list-style: none;
  color: #585858;
  padding: 1rem;
  position: absolute;
  top: 45px;
  right: 0;
  width: 350px;
  min-height: 100px;
  background-color: white;
  box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
  border-radius: 3px;
  z-index: 1000;
}
