.btn-block {
  display: inline-block;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  margin-top: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(162, 198, 23);
}

.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  margin: 10px;
  background-color: rgb(177, 210, 5);
  border-radius: 3px;
  font-weight: 400;
  font-size: 12px;
  cursor: pointer;
}

.btn-close {
  position: relative;
  width: 24px;
  height: 24px;
  top: -65px;
  right: -185px;
  cursor: pointer;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 11px;
    left: -5px;
    width: 25px;
    height: 2px;
    background: rgb(59, 59, 59);
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}
