.cards {
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, auto));
  grid-template-rows: repeat(2, minmax(100px, auto));
  gap: 1rem;
  list-style: none;
  color: #585858;
  padding-top: 100px;
  padding-bottom: 100px;
}
