.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
  border-radius: 3px;
}

.card img {
  width: 100%;
  transition: transform 500ms ease;
}
.card img:hover {
  transform: scale(1.05);
}

.card span {
  font-size: 12px;
}

.card p {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card b {
  margin-bottom: 10px;
}

.favorite-btn {
  color: rgb(177, 210, 5);
  margin-top: 10px;
  margin-right: 5px;
}
