.modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(200, 200, 200, 0.05);
}

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  text-align: center;
  border-radius: 7px;
  color: rgb(50, 50, 50);
  font-weight: 700;
  background-color: white;
  box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
  border-radius: 3px;
  z-index: 900;
}
