.header-block {
  display: flex;
  justify-content: space-between;
  background-color: rgb(177, 210, 5);
  padding-top: 20px;
  padding-bottom: 20px;
}

header .nav {
  display: flex;
}

header .nav li {
  padding-left: 50px;
}

header .logo {
  text-transform: uppercase;
  font-weight: 700;
}

header .shop-cart-btn {
  cursor: pointer;
  transition: color, transform 500ms ease;
}

header .shop-cart-btn.active {
  color: white;
  transform: scale(1.5);
}

header {
  position: relative;
}

header .header-fav-btn {
  position: relative;
  margin-right: 50px;
  cursor: pointer;
  transition: color, transform 500ms ease;
}

header .header-fav-btn.active {
  color: white;
  transform: scale(1.5);
}

header .block-btn {
  display: flex;
}

header .block-btn span {
  font-size: 12px;
  color: rgb(230, 35, 92);
  margin-right: 5px;
}
